<!DOCTYPE html>
<html>
    <head>
        <title>Bobstudios{{#if title}} - {{title}}{{/if}}</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='/assets/css/app.css' rel='stylesheet' type='text/css'>
    </head>
    <body {{#ifNotEq transparent 'yes'}}class='offset'{{/ifNotEq}}>
        {{>nav transparent=transparent}}