@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}
