header {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .navbar-fixed-top;
    background: $white;
    box-shadow: 0 0 1px 0 rgba($metal, .25);
    nav {
        @extend .container;
        @extend .nav;
        @extend .navbar-nav;
    }
    h1,
    a {
        color: $metal;
    }
    h1 {
        @extend .navbar-brand;
        @extend .mb-0;
        font-family: bold;
        font-size: 1rem;
        line-height: 1.65rem;
        pointer-events: none;
    }
    a {
        @extend .nav-item;
        @extend .nav-link;
        &:hover {
            color: $poppy;
        }
    }
}
